.input-div {
  margin: 8px;
  display: flex;
  flex-direction: column;
  min-width: 156px;
  min-height: 24px;
  background-color: #fff;
  border-radius: 4px 4px 0 0 ;
  border: 1px solid #666;
  border-bottom: 4px solid #666;
  padding-left: 8px;
  flex-basis: 30%;
}

label {
  display: block;
  text-align: left;
  opacity: 87%;
  color: #000000 ;
  font-size: .9rem ;
}


.inputText {
  border: none;
  text-align: left;
  font-size: 1rem ;
}

input {
  background-color: #fff ;
  width: 90% ;
  height: max-content;
}

.inputText:focus, .inputText:active {
  outline: none;
}
.icon {
  align-self: center;
}

.input-container {
  display: flex;
  margin:  24px 16px;
}

.form {
  padding-top: 56px;
  display: flex;
  flex-direction: column;

}
.header{
  position: fixed;
  width: 100%;
  background-color: #0b2343;
  display: flex;
  justify-content: space-between;
  height: 56px;
  flex-grow: 1;
}

.center {
  color: #fff;
  margin: 0 16px ;
  align-self: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
}

.button-default {
  display: block;
  min-height: 2.625rem;
  min-width: 8rem;
  align-self: flex-end;
  font: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: #d8d8d8;
  border-radius: 1px;
  color: #ffffff;
  background-color: #237ABA;

}
.flightsList {
  display: flex;
  padding: 16px 32px;
  flex-direction: column;
}

.flight-item {
  border: 1px solid #d8d8d8;
  align-items: center;
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.arrow {
  background-color: #0b2343;
  height: 3px;
  min-width: 60%;
}
.item{
  text-align: center;
  width: 20%;
}


